<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tour">Tour</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/img">Pictur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/acc">Account</a>
      </li>
    </ul>
  </div>
  <div style="margin-left: 55%">
    <form class="form-inline" action="/action_page.php">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-success" type="submit">Search</button>
    </form>
  </div>
</nav>
